/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: calc(100vh); 
}

/*====================================================================*/
/*  Vertical Nav
/*====================================================================*/
/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 100px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease;
}

.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 26px;
	height: 26px;
	outline: none;
	margin: 25px 0;
	border-radius: 50%;
	border: 4px solid #fff;
}

.no-touch .cbp-fbscroller > nav a:hover {
	background: rgba(255,255,255,0.6);
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	background: #fff;
}




/*=============================================
   section
=============================================*/
.cbp-fbscroller section {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#fbsection1 {
	background-image: url(../images/1.jpg);
}

#fbsection2 {
	background-image: url(../images/2.jpg);
}

#fbsection3 {
	background-image: url(../images/3.jpg);
}

#fbsection4 {
	background-image: url(../images/4.jpg);
}

#fbsection5 {
	background-image: url(../images/5.jpg);
}


/*
==========Experiment===============================
*/
h1{
	margin: 0;
	padding: 0;
}



.block1{
	height: 500px;
	width: 100%;
	background: purple;
	display: block;
}

.block2{
	height: 500px;
	width: 100%;
	background: purple;
	display: block;
}

/*
========== outline boxes ===============================
*/
.container{
	display: block;
	border: 5px solid red;
}

#cbp-fbscroller{
	border: 5px solid green;
}

#cbp-fbscroller section{
	border: 5px solid blue;
}


/*
==========fixed bg (toggle class)===============================
*/
.hit-fixed {
	background-attachment: fixed;
	color: red;
}

.nav-absolute{
	position: absolute !important;
	top: initial !important;
	bottom: -338%;
	/*z-index: 9999;
	right: 100px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
}

.nav-show{
	opacity: 1 !important;
	visibility: visible !important;
}